fastapi
uvicorn
firebase-admin
ezdxf
pydantic
python-multipart
httpx
xgboost
scikit-learn
joblib
chromadb
sentence-transformers
langchain
pypdf
langchain-community
openai>=1.0.0
python-dotenv
pandas
numpy
